{% extends 'base.jinja2' %}

{% block subtitle %}Donations{% endblock subtitle %}

{% block content %}

{% if msg %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{msg}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}


<div class="row">
{% for donation in donations %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ donation.donor.name }}</h5>
        <p class="card-text">{{ donation.value }}</p>
        <a href="/add/{{ donation.donor.name }}" class="btn btn-primary">Add Donation</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock content %}
