{% extends 'base.jinja2' %}

{% block subtitle %}Donations{% endblock subtitle %}

{% block content %}

{% if msg %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{msg}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Donor name</th>
      <th scope="col">Donation amount</th>
    </tr>
  </thead>
  <tbody>
    {% for donation in donations %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{ donation.donor.name }}</td>
      <td>{{ donation.value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
